.numbers-page {
  padding: 20px;
  text-align: center;
   background: url("https://img.freepik.com/premium-vector/spring-pink-forest-background_317442-1813.jpg?semt=ais_hybrid&w=740&q=80")
              no-repeat center center/cover;
  position: relative;
  min-height: 100vh;
}

.back-btn {
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  background-color: #f44336;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #d32f2f;
}

.numbers-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10 numbers per row */
  gap: 10px;
  justify-items: center;
}

.number-button {
  width: 40px;
  height: 40px;
  border: 2px solid #4a90e2;
  border-radius: 8px;
  background-color: #4a90e2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.number-button:hover {
  background-color: #357ab8;
}
